body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3a241d;
    text-align: center;
 
}



.contenedor {

    background-color: #efe;
    width: 15%;
    height: 100%;
    top: 0px;
    position: absolute;
    padding: 10px;
    display: flex;


}

#contenedor-izquierdo {

   
    flex-direction:column-reverse;
}

#contenedor-derecho {
    
    right: 0px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  
}

.contenedor-componente {
    position: relative;
    height: 10.5%;
    left: 30%;
    display: flex;
}

.componente {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}



.cielo {
    height: 80%;
    width: 60%;
    background: #BDE6F1;
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 1;
    z-index: -2;
}

.suelo {
    width: 60%;
    height: 50%;
    background: #C9E4C5;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 3;
    z-index: 1;
}
